
.mobile-actions li a {
    background: #161925;
    border: 1px solid #6387ce;
    border-radius: 0;
    box-shadow: none;
  }

  .mobile-actions li a {
    background: #23395B;
    border: 1px solid #6387ce;
    border-radius: 0;
    box-shadow: none;
  }

  .mobile-actions li a {
    background: #406E8E;
    border: 1px solid #6387ce;
    border-radius: 0;
    box-shadow: none;
  }

  .mobile-actions li a {
    background: #8EA8C3;
    border: 1px solid #6387ce;
    border-radius: 0;
    box-shadow: none;
  }

  .mobile-actions li a {
    background: #CBF7ED;
    border: 1px solid #6387ce;
    border-radius: 0;
    box-shadow: none;
  }